<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax id="hacerLogin"
               url="http://localhost:3000/api/login/"
               method="POST"
               content-type="application/json"
               handle-as="json"
               on-response="mostrarResultadoLogin"
               on-error="mostrarErrorAcceso">

<!-- params='{"part":"snippet", "q":"polymer", "key": "YOUTUBE_API_KEY", "type": "video"}'-->

    </iron-ajax>

    <h3>Identifíquese, por favor:</h3>
    <br/>
    <div class="row">
    <!-- <form> -->
    Correo:
    <br/>
    <input type="email" value={{email::input}} />
    <br/>
    Clave de Acceso:
    <br/>
    <input type="password" value={{password::input}} />
    <br/>
    <button on-click="logar">Acceder</button> <!-- onclick es un manejedor javascript, y yo quiero uno polymer, que es on-click -->
    </div>
    <!-- </form> -->
    <span hidden$="{{!logado}}">Bienvenido de nuevo a nuestro increíble Banco.</span> <!-- Siempre que aparece $ en una variable Polymer actúa -->

  </template>

  <script>

    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {

      static get is() { return 'login-usuario' }

      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          logado: {
            type: Boolean,
            value: false
          },
          login: {
            type: String
          }
        }
      }


      logar() {

        // ocultar el banner de publicidad
        var bannerDiv = document.getElementById("bannerSpace")
        bannerDiv.style.display = "none"

        console.log("Login 1. El usuario ha pulsado el botón de ACCEDER")
        console.log(this.email)
        console.log(this.password)

        this.$.hacerLogin.body = { "email":this.email, "password":this.password }
        console.log(this.$.hacerLogin.body)
        console.log("Login 2. Voy a enviar la petición")

        this.$.hacerLogin.generateRequest()
        console.log("Login 3. Peticion enviada")
      }

      mostrarResultadoLogin(resultado) {
        console.log("Login 4. Llegaron los resultados")
        console.log(resultado)

        console.log("Login 5. Proceso los resultados")
        console.log(resultado.detail.response)

        console.log("Login 6. Los datos del usuario son:")
        console.log("idcliente: " + resultado.detail.response.idcliente)
        console.log("nombre: " + resultado.detail.response.nombre)
        console.log("apellido: " + resultado.detail.response.apellido)

        this.login = resultado.detail.response.login
        if (this.login == "ok") {
          console.log("Login 7. Login OK")
          this.logado = true
          console.log("Login 7.1. Cambiar boton a Cerrar Sesión")
          // cambiar el botón de sesión
          document.getElementById("btnSesion").innerText = "Cerrar sesión"
          console.log("Login 8. Envío Evento LOGADO")
          this.dispatchEvent(new CustomEvent("logado",
          {"detail":
            {
              "idcliente":resultado.detail.response.idcliente,
              "nombre": resultado.detail.response.nombre,
              "apellido": resultado.detail.response.apellido,
              "email": this.email
            }
          }))
        } else {
          console.log("Login 7. Login NO OK")
          this.logado = false
          // TODO: Qué hacemos entonces? Mensaje error y volver a intentar?
        }
      }

      mostrarErrorAcceso(error) {
        console.log("Login 4. Llega el error")
        console.log(error)
        this.logado = false
      }
    }

    window.customElements.define(LoginUsuario.is, LoginUsuario)
  </script>
</dom-module>
