<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="alta-usuario">
  <template>

    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax id="altaUsuario"
               url="http://localhost:3000/api/altausuario/"
               method="POST"
               content-type="application/json"
               handle-as="json"
               on-response="mostrarResultadoAltaCliente"
               on-error="mostrarErrorAltaCliente">
    </iron-ajax>

    <!-- <form> -->

    <div class="col-sm-12" hidden$="{{logado}}"  >

      <h3>ALTA DE NUEVO CLIENTE</h3>
      <br><br>
      Para darse de alta como nuevo cliente, por favor rellene los siguientes datos:
      <br>

      <div class="form-group">
        <label for="nombre" class="col-sm-2 col-form-label"> Nombre: </label>
        <div class="col-sm-10">
          <input type="text" id="nombre" value={{nombre::input}} class="form-control form-control-lg" />
        </div>

        <div class="form-group">
          <label for="apellido" class="col-sm-2 col-form-label"> Apellido: </label>
          <div class="col-sm-10">
            <input type="text" id="apellido" value={{apellido::input}} class="form-control form-control-lg" />
          </div>

      <div class="form-group">
        <label for="email" class="col-sm-2 col-form-label"> Correo: </label>
        <div class="col-sm-10">
          <input type="email" id="email" value={{email::input}} class="form-control form-control-lg" />
        </div>

        <div class="form-group">
          <label for="pwd" class="col-sm-2 col-form-label"> Clave de Acceso:</label>
          <div class="col-sm-10">
            <input type="password" id="pwd" value={{password1::input}} class="form-control form-control-lg" />
          </div>
        </div>

        <!-- <div class="form-group">
          <label for="pwd2" class="col-sm-2 col-form-label"> Repetir Clave de Acceso:</label>
          <div class="col-sm-10">
            <input type="password" id="pwd2" value={{password2::input}} class="form-control form-control-lg" />
          </div>
        </div> -->

        <div class="form-group">
          <label for="direccion" class="col-sm-2 col-form-label"> Direccion: </label>
          <div class="col-sm-10">
            <input type="text" id="direccion" value={{direccion::input}} class="form-control form-control-lg" />
          </div>

        <div class="form-group">
          <label for="ciudad" class="col-sm-2 col-form-label"> Ciudad: </label>
          <div class="col-sm-10">
            <input type="text" id="ciudad" value={{ciudad::input}} class="form-control form-control-lg" />
          </div>

        <div class="form-group">
          <label for="pais" class="col-sm-2 col-form-label"> Pais: </label>
          <div class="col-sm-10">
            <input type="text" id="pais" value={{pais::input}} class="form-control form-control-lg" />
          </div>

        <div class="col-md-12">
          <button on-click="registrarse" class="btn btn-primary btn-lg float-right">Solicitar Alta</button>
        </div>
      </div>

      <!-- </form> -->

  </template>

  <script>
    /**
     * `alta-usuario`
     * alta de un nuevo cliente
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class AltaUsuario extends Polymer.Element {

      static get is() { return 'alta-usuario' }

      static get properties() {
        return {
          idcliente: { type: Number },
          nombre:    { type: String },
          apellido:  { type: String },
          email:     { type: String },
          password1: { type: String },
          password2: { type: String },
          ciudad:    { type: String },
          pais:      { type: String },
          direccion: { type: String }
        }
      }

      mostrarErrorAltaCliente (response) {
        console.log("--- AltaUsuario.mostrarErrorAltaCliente ---")
        // console.log('Error')
        // console.log(response)
        alert('Error creando usuario')
        // TODO enviar evento evaltaend
      }

      mostrarResultadoAltaCliente (response){
        console.log("--- AltaUsuario.mostrarResultadoAltaCliente")
        // console.log("Alta 3. Alta realizada con éxito")
        // console.log(response)
        alert("Alta de nuevo cliente completada")
        var mensajeSMS = "Alta de cliente completada. Ya puede acceder con su email y contraseña en la web."
        this.dispatchEvent(new CustomEvent("evsms", {"detail": { "mensaje":mensajeSMS }}))
        // window.location = '/'
        // TODO enviar evento evfinalta
        // console.log("Alta 4. Envío Evento FIN ALTA")
        this.dispatchEvent(new CustomEvent("evfinalta"))
      }

      registrarse() {
        console.log("--- AltaUsuario.registrarse ---")
          this.$.altaUsuario.body = {
              "nombre": this.nombre,
              "apellido": this.apellido,
              "email": this.email,
              "password": this.password1,
              "direccion": this.direccion,
              "ciudad": this.ciudad ,
              "pais": this.pais,
          }
          // console.log("Alta 1. Voy a enviar la petición")
          this.$.altaUsuario.generateRequest()
          // console.log("Alta 2. Peticion enviada")
      }
    }

    window.customElements.define(AltaUsuario.is, AltaUsuario);
  </script>
</dom-module>
