<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="anotar-movimiento">

    <template>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <style>
            :host {
                display: block;
            }
        </style>

        <iron-ajax id="movimientoAjax"
                   url="http://localhost:3000/api/movimientos/"
                   method="POST"
                   content-type="application/json"
                   handle-as="json"
                   on-response="mostrarResultadoAnotarMovimiento"
                   on-error="mostrarErrorAnotarMovimiento">
        </iron-ajax>

        <br/><br/>
        <h4>CUENTA {{iban}}</h4>
        <h5>Anotación en cuenta</h5>
        <br/>

        <div class="col-sm-12">
            <div class="form-group">
                <!-- <label for="IBAN">IBAN Origen: </label>
                <div class="col-sm-10">
                    <input type="text" id="IBAN" value={{IBAN::input}} class="form-control form-control-lg" />
                </div>

                <label for="fecha">Fecha: </label>
                <div class="col-sm-10">
                    <input type="text" id="fecha" value={{fecha::input}} class="form-control form-control-lg" />
                </div> -->

                <label for="tipo">Tipo: </label>
                <div class="col-sm-10">
                    <input type="text" id="tipo" value={{tipo::input}} class="form-control form-control-lg" />
                </div>

                <label for="importe">Importe: </label>
                <div class="col-sm-10">
                    <input type="text" id="importe" value={{importe::input}} class="form-control form-control-lg" />
                </div>

            </div>
            <div class="col-md-12">
                <button on-click="anotarMovimiento" class="btn btn-primary btn-lg float-right">Anotar</button>
            </div>
        </div>

    </template>

    <script>

        class AnotarMovimiento extends Polymer.Element {

            static get is() { return 'anotar-movimiento' }

            static get properties() {
                return {
                    iban: { type: String },
                    fecha: { type: String },
                    importe: { type: String },
                    tipo: { type: String },
                }
            }

            mostrarErrorAnotarMovimiento (response) {
                console.log("--- AnotarMovimiento.mostrarErrorAnotarMovimiento ---")
                // console.log('Error')
                // console.log(response)
                alert('Error anotando movimiento')
            }

            mostrarResultadoAnotarMovimiento (response){
                console.log("--- AnotarMovimiento.mostrarResultadoAnotarMovimiento ---")
                // console.log(response)
                alert('Movimiento anotado con éxito')
                var mensajeSMS = this.iban + " - " + this.fecha + " - " + this.tipo + " - importe: " + this.importe
                this.dispatchEvent(new CustomEvent("evsms", {"detail": { "mensaje":mensajeSMS }}))
                this.dispatchEvent(new CustomEvent("evok",
                {"detail":
                  {
                    "iban": this.iban
                  }
                }))
            }

            anotarIbanOrigen (iban) {
              console.log("--- AnotarMovimiento.anotarIbanOrigen ---")
              this.iban = iban
              this.tipo = ""
              this.fecha = ""
              this.importe = ""
            }

            anotarMovimiento() {
                console.log("--- AnotarMovimiento.anotarMovimiento ---")
                var importe;
                var today = new Date();
                var dd = today.getDate();
                var mm = today.getMonth()+1; //January is 0!
                var yyyy = today.getFullYear();
                var today_string = dd + '/' + mm + '/' + yyyy

                if (this.tipo.toUpperCase().trim() === "INGRESO"){
                    importe = parseFloat(this.importe)
                } else {
                    importe = -parseFloat(this.importe)
                }

                this.$.movimientoAjax.body = {
                    "iban": this.iban,
                    "fecha": today_string,
                    "importe": importe,
                    "tipo": this.tipo.toUpperCase()
                }
                console.log(this.$.movimientoAjax.body)
                //console.log("Movimiento 1. Voy a enviar la petición")
                this.$.movimientoAjax.generateRequest()
                //console.log("Movimiento 2. Peticion enviada")
            }

        }

        window.customElements.define(AnotarMovimiento.is, AnotarMovimiento)
    </script>
</dom-module>
