<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="enviar-sms">

  <template>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax id="enviarSMSmailjet"
      url="https://api.mailjet.com/v4/sms-send"
      method="POST"
      handle-as="json"
      on-response="mostrarSmsOk"
      on-error="mostrarSmsError"
    >
    </iron-ajax>

    <iron-ajax id="enviarSMSlabsmobile"
      url="https://api.labsmobile.com/json/send"
      method="POST"
      handle-as="json"
      on-response="mostrarSmsOk"
      on-error="mostrarSmsError"
    >
    </iron-ajax>

    <iron-ajax id="enviarSMStextlocal"
      url="https://api.txtlocal.com/send/?"
      method="POST"
      handle-as="json"
      on-response="mostrarSmsOk"
      on-error="mostrarSmsError"
    >
    </iron-ajax>

    <!-- <h3>ENVIADO SMS AL TLF: {{to}}</h3>
    <br/> -->

  </template>

  <script>
    /**
     * `visor-movimientos.html`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class EnviarSms extends Polymer.Element {

      static get is() { return 'enviar-sms' }

      static get properties() {
        return {
          to: { type: String, value: "+34639639073" },
          from: { type: String, value: "BANKMOLOCOS" }
        }
      }

      lanzarSMSmailjet(mensaje) {
        console.log("--- EnviarSms.lanzarSMSmailjet ---")
        // console.log("1. Han pulsado sobre enviar SMS")
        this.$.enviarSMSmailjet.headers.Authorization = "Bearer dcf62b70c20648cfb08c5911dfae31c3"
        this.$.enviarSMSmailjet.body = { "From":this.from, "To":this.to, "Text":mensaje }
        console.log(this.$.enviarSMSmailjet.body)
        this.$.enviarSMSmailjet.generateRequest()
        // console.log("2. Petición de envío de SMS enviada")
      }

      lanzarSMSlabsmobile(mensaje) {
        console.log("--- EnviarSms.lanzarSMSlabsmobile ---")
        // console.log("1. Han pulsado sobre enviar SMS")
        this.$.enviarSMSlabsmobile.headers.Authorization = "Basic Y2FweWdlZWtAZ21haWwuY29tOnZkOTNwcjk1"
        //this.$.enviarSMSlabsmobile.headers.Cache-Control = "no-cache"
        this.$.enviarSMSlabsmobile.body = { "message":mensaje, "tpoa":this.from, "Recipient":[{"msisdn":this.to}]}
        console.log(this.$.enviarSMSlabsmobile.body)
        this.$.enviarSMSlabsmobile.generateRequest()
        // console.log("2. Petición de envío de SMS enviada")
      }

      lanzarSMStextlocal(mensaje) {
        console.log("--- EnviarSms.lanzarSMStextlocal ---")
        // console.log("1. Han pulsado sobre enviar SMS")

        this.$.enviarSMStextlocal.body = {"apikey":"yEFC516/itA-97jt7ctN4jrelJuJ69ZQhnrZ0c2J8t",
                                 "numbers":this.to, "message":mensaje, "sender":this.from }
        console.log(this.$.enviarSMStextlocal.body)
        this.$.enviarSMStextlocal.generateRequest()
        // console.log("2. Petición de envío de SMS enviada")
      }

      lanzarSMS(mensaje) {
        console.log("--- EnviarSms.lanzarSMS ---")
        // lanzarSMSmailjet(mensaje)
        // lanzarSMSlabsmobile(mensaje)
        // lanzarSMStextlocal(mensaje)
      }

      mostrarSmsError(error) {
        console.log("--- EnviarSms.mostrarSmsError ---")
        // console.log("2. Llega error")
        // console.log(error.detail.response)
        alert("Error en el envío de SMS\n" + error.detail.response)
      }

      mostrarSmsOk(resultado) {
        console.log("--- EnviarSms.mostrarSmsOk ---")
        // console.log("2. Llega respuesta OK")
        // console.log(resultado.detail.response)
      }

    }

    window.customElements.define(EnviarSms.is, EnviarSms)
  </script>
</dom-module>
