<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="inicio-alta">

  <template>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous">

    <style>
      :host {
        display: block;
      }
    </style>

    <!-- <form> -->

    <!-- <div class="col-sm-12" hidden$="{{logado}}"  > -->
    <div class="col-sm-12">
        <div class="col-md-12">
          <br><br>
          <h4>¿Aún no eres cliente? A qué esperas para ser un cagaprisas, pulsa aquí...<h4/>
          <button on-click="registrarse" class="btn btn-primary btn-lg float-right">Nuevo Cliente</button>
        </div>
    </div>

  </template>

  <script>

    /**
     * @customElement
     * @polymer
     */
    class InicioAlta extends Polymer.Element {

      static get is() { return 'inicio-alta' }

      static get properties() {
        return {
          registro: { type: Boolean, value: false }
        }
      }

      registrarse() {
        console.log("--- InicioRegistro.registrarse ---")
        // console.log("1. El usuario ha pulsado el botón [Nuevo Cliente]")
        this.registro = true
        // enviar evento para mostrar pantalla de login
        // console.log("2. Envío evento [evnew]")
        this.dispatchEvent(new CustomEvent("evnew"))
      }

    }

    window.customElements.define(InicioAlta.is, InicioAlta)
  </script>
</dom-module>
