<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="inicio-sesion">

  <template>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous">

    <style>
      :host {
        display: block;
      }
    </style>

    <!-- <form> -->

    <!-- <div class="col-sm-12" hidden$="{{logado}}"" > -->
    <div class="col-sm-12">
      <div class="col-md-12">
        <button on-click="acceder" class="btn btn-primary btn-lg float-right">Acceso Clientes</button>
      </div>
    </div>

  </template>

  <script>

    /**
     * @customElement
     * @polymer
     */
    class InicioSesion extends Polymer.Element {

      static get is() { return 'inicio-sesion' }

      static get properties() {
        return {
          sesion: { type: Boolean, value: false }
        }
      }

      acceder() {
        console.log("--- InicioSesion.acceder ---")
        // console.log("1. El usuario ha pulsado el botón [Acceso Clientes]")
        this.sesion = true
        // enviar evento para mostrar pantalla de login
        // console.log("2. Envío evento [evstart]")
        this.dispatchEvent(new CustomEvent("evstart"))
      }

    }

    window.customElements.define(InicioSesion.is, InicioSesion)
  </script>
</dom-module>
