<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="inicio-cliente">

  <template>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous">

    <style>
      :host {
        display: block;
      }
    </style>

    <!-- <form> -->

    <!-- <div class="col-sm-12" hidden$="{{logado}}"" > -->
    <div class="col-sm-12">
      <div class="col-md-12">
        <button on-click="modoDatosPersonales" class="btn btn-primary btn-lg float-left">Datos Personales</button>
      </div>
    </div>

  </template>

  <script>

    /**
     * @customElement
     * @polymer
     */
    class InicioCliente extends Polymer.Element {

      static get is() { return 'inicio-cliente' }

      static get properties() {
        return {
          sesion: { type: Boolean, value: false }
        }
      }

      modoDatosPersonales() {
        console.log("--- InicioCliente.modoDatosPersonales ---")
        this.dispatchEvent(new CustomEvent("evclick"))
      }

    }

    window.customElements.define(InicioCliente.is, InicioCliente)
  </script>
</dom-module>
