<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="inicio-password">

  <template>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous">

    <style>
      :host {
        display: block;
      }
    </style>

    <!-- <form> -->

    <!-- <div class="col-sm-12" hidden$="{{logado}}"" > -->
    <div class="col-sm-12">
      <div class="col-md-12">
        <button on-click="modoPassword" class="btn btn-primary btn-lg float-left">Contraseña</button>
      </div>
    </div>

  </template>

  <script>

    /**
     * @customElement
     * @polymer
     */
    class InicioPassword extends Polymer.Element {

      static get is() { return 'inicio-password' }

      static get properties() {
        return {
          sesion: { type: Boolean, value: false }
        }
      }

      modoPassword() {
        console.log("--- InicioPassword.modoPassword ---")
        this.dispatchEvent(new CustomEvent("evclick"))
      }

    }

    window.customElements.define(InicioPassword.is, InicioPassword)
  </script>
</dom-module>
