<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax id="hacerLogin"
               url="http://localhost:3000/api/login/"
               method="POST"
               content-type="application/json"
               handle-as="json"
               on-response="mostrarResultadoLogin"
               on-error="mostrarErrorAcceso">
    </iron-ajax>

    <!-- <form> -->

    <div class="col-sm-12" hidden$="{{logado}}"  >

      <h3>Identifíquese, por favor:</h3>

      <div class="form-group">
        <label for="email" class="col-sm-2 col-form-label"> Correo: </label>
        <div class="col-sm-10">
          <input type="email" id="email" value={{email::input}} class="form-control form-control-lg" />
        </div>

        <div class="form-group">
          <label for="pwd" class="col-sm-2 col-form-label"> Clave de Acceso:</label>
          <div class="col-sm-10">
            <input type="password" id="pwd" value={{password::input}} class="form-control form-control-lg" />
          </div>
        </div>

        <div class="col-md-12">
          <button on-click="logarse" class="btn btn-primary btn-lg float-right">Acceder</button>
        </div>
      </div>

      <!-- onclick es un manejedor javascript, y yo quiero uno polymer, que es on-click -->

      <!-- </form> -->

      <span hidden$="{{!logado}}">Bienvenido de nuevo a nuestro increíble Banco.</span>
      <!-- Siempre que aparece $ en una variable Polymer actúa -->

  </template>

  <script>

    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {

      static get is() { return 'login-usuario' }

      static get properties() {
        return {
          email: { type: String, value: "capy@gmail.com" },
          password: { type: String, value: "1234qwer" },
          logado: { type: Boolean, value: false },
          login: { type: String }
        }
      }

      logarse() {
        console.log("--- LoginUsuario.logarse --- ")
        // console.log("Login 1. El usuario ha pulsado el botón de ACCEDER")
        // console.log(this.email)
        // console.log(this.password)
        // TODO: no controlamos si email o password están vacios, formato correcto, etc

        this.$.hacerLogin.body = { "email":this.email, "password":this.password }
        // console.log(this.$.hacerLogin.body)
        // console.log("Login 2. Voy a enviar la petición")

        this.$.hacerLogin.generateRequest()
        // console.log("Login 3. Peticion enviada")
      }

      mostrarResultadoLogin(resultado) {
        console.log("--- LoginUsuario.mostrarResultadoLogin ---")
        // console.log("Login 4. Llegaron los resultados")
        // console.log(resultado)
        //
        // console.log("Login 5. Proceso los resultados")
        // console.log(resultado.detail.response)
        //
        // console.log("Login 6. Los datos del usuario son:")
        // console.log("idcliente: " + resultado.detail.response.idcliente)
        // console.log("nombre: " + resultado.detail.response.nombre)
        // console.log("apellido: " + resultado.detail.response.apellido)

        this.login = resultado.detail.response.login
        if (this.login == "ok") {
          // console.log("Login 7. Login OK")
          //this.logado = true
          // console.log("Login 7.1. Cambiar boton a Cerrar Sesión")
          // cambiar el botón de sesión
          // document.getElementById("btnSesion").innerText = "Cerrar sesión"
          // console.log("Login 8. Envío Evento LOGADO")
          var mensajeSMS = "Alguien acaba de iniciar sesión con su usuario."
          this.dispatchEvent(new CustomEvent("evsms", {"detail": { "mensaje":mensajeSMS }}))
          this.dispatchEvent(new CustomEvent("logado",
          {"detail":
            {
              "idcliente":resultado.detail.response.idcliente,
              "nombre": resultado.detail.response.nombre,
              "apellido": resultado.detail.response.apellido,
              "email": this.email
            }
          }))
        } else {
          // console.log("Login 7. Login NO OK")
          this.logado = false
          // TODO: Qué hacemos entonces? Mensaje error y volver a intentar?
        }
      }

      mostrarErrorAcceso(error) {
        console.log("--- LoginUsuario.mostrarErrorAcceso ---")
        // console.log("Login 4. Llega el error")
        // console.log(error)
        this.logado = false
      }
    }

    window.customElements.define(LoginUsuario.is, LoginUsuario)
  </script>
</dom-module>
