<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="logout-usuario">

  <template>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax id="hacerLogout"
               url="http://localhost:3000/api/logout/"
               method="POST"
               content-type="application/json"
               handle-as="json"
               on-response="mostrarResultadoLogout"
               on-error="mostrarErrorLogout">
    </iron-ajax>

    <!-- <form> -->

    <!-- <div class="col-sm-12" hidden$="{{logado}}"  >
      <h3>Cerrando sesión. Hasta pronto...</h3>
    </div> -->

      <!-- </form> -->

  </template>

  <script>

    /**
     * @customElement
     * @polymer
     */
    class LogoutUsuario extends Polymer.Element {

      static get is() { return 'logout-usuario' }

      static get properties() {
        return {
          logout: { type: Boolean, value: false }
        }
      }

      hacerLogout(idcliente) {
        console.log("--- LogoutUsuario.hacerLogout ---")
        // console.log("Logout 1. El usuario ha pulsado el botón de [CERRAR SESION]")

        // TODO: no controlamos si email o password están vacios, formato correcto, etc
        this.idcliente = idcliente
        this.$.hacerLogout.body = { "idcliente": this.idcliente }
        // console.log(this.$.hacerLogout.body)
        // console.log("Logout 2. Voy a enviar la petición")

        this.$.hacerLogout.generateRequest()
        // console.log("Logout 3. Peticion enviada")
      }

      mostrarResultadoLogout(resultado) {
        console.log("--- LogoutUsuario.mostrarResultadoLogout ---")
        // console.log("Logout 4. Llegaron los resultados")
        // console.log(resultado)
        //
        // console.log("Logout 5. Proceso los resultados")
        // console.log(resultado.detail.response)
        //
        // console.log("Logout 6. Los datos del usuario son:")
        // console.log("idcliente: " + resultado.detail.response.idcliente)

        this.logout = resultado.detail.response.logout
        if (this.logout == "ok") {
          // console.log("Logout 7. Logout OK")
          alert("Desconexión realizada correctamente.")
          // console.log("Logout 7.1. Cambiar boton a Iniciar Sesión")
          // cambiar el botón de sesión
          // document.getElementById("btnSesion").innerText = "Iniciar sesión"
          // console.log("Logout 8. Envío Evento EVLOGGEDOUT")
          this.dispatchEvent(new CustomEvent("evloggedout"))
        } else {
          // console.log("Logout 7. Logout NO OK")
          alert("No ha sido posible hacer la desconexión.")
          // TODO: Qué hacemos entonces? Mensaje error y volver a intentar?
        }
      }

      mostrarErrorLogout(error) {
        console.log("--- LogoutUsuario.mostrarErrorLogout ---")
        // console.log("Logout 4. Llega el error")
        // console.log(error)
      }
    }

    window.customElements.define(LogoutUsuario.is, LogoutUsuario)
  </script>
</dom-module>
