<link rel="import" href="../bower_components/polymer/polymer-element.html">

<link rel="import" href="/src/inicio-sesion.html">
<link rel="import" href="/src/inicio-alta.html">
<link rel="import" href="/src/login-usuario.html">
<link rel="import" href="/src/alta-usuario.html">
<link rel="import" href="/src/cierre-sesion.html">
<link rel="import" href="/src/inicio-cuentas.html">
<link rel="import" href="/src/inicio-cliente.html">
<link rel="import" href="/src/inicio-password.html">
<link rel="import" href="/src/visor-cuentas.html">
<link rel="import" href="/src/visor-usuario.html">
<link rel="import" href="/src/visor-password.html">
<link rel="import" href="/src/logout-usuario.html">
<link rel="import" href="/src/enviar-sms.html">

<dom-module id="padre-app">
  <template>

    <style>
      :host {
        display: block;
      }
    </style>

    <!-- Formulario de Login de Usuario -->
    <br/>
    <!-- <h3>Identifíquese, por favor:</h3> -->
    <br/>
    <!-- pantallas sin sesion iniciada -->
    <inicio-sesion id="ins" hidden$="{{sesion}}" on-evstart="presentarLogin"></inicio-sesion>
    <div id="bannerSpace" hidden$="{{sesion}}"><br><img src="/img/banco_molocos_1.png"><br></div>
    <inicio-alta id="inr" hidden$="{{sesion}}" on-evnew="presentarAlta"></inicio-alta>
    <!-- pantallas de acceso y registro -->
    <login-usuario id="lgu" hidden$="{{hide_lgu}}" on-logado="procesarLogin" on-evsms="mandarSMS"></login-usuario>
    <alta-usuario id="anc" hidden$="{{hide_anc}}" on-evfinalta="procesarAlta" on-evsms="mandarSMS"></alta-usuario>
    <!-- pantallas con sesion iniciada -->
    <inicio-cuentas id="inc" hidden$="{{hide_inc}}" on-evclick="presentarPosicion"></inicio-cuentas>
    <inicio-cliente id="inu" hidden$="{{hide_inu}}" on-evclick="presentarCliente"></inicio-cliente>
    <inicio-password id="inp" hidden$="{{hide_inp}}" on-evclick="presentarPassword"></inicio-password>
    <cierre-sesion id="cis" hidden$="{{!estoylogado}}" on-evstop="procesarLogout"></cierre-sesion>
    <visor-usuario id="vus" hidden$="{{hide_vus}}" on-evsms="mandarSMS"></visor-usuario>
    <visor-cuentas id="vsc" hidden$="{{hide_vsc}}" on-evsms="mandarSMS"></visor-cuentas>
    <visor-password id="vpw" hidden$="{{hide_vpw}}" on-evsms="mandarSMS"></visor-password>
    <logout-usuario id="lou" hidden$="{{hide_lou}}" on-evloggedout="presentarHome"></login-usuario>
    <enviar-sms id="sms" hidden$="{{hide_sms}}"></enviar-sms>

  </template>

  <script>
    /**
     * `padre-app.html`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PadreApp extends Polymer.Element {

      static get is() { return 'padre-app' }

      static get properties() {
        return {
          // visibilidad de pantallas
          //hide_bnr: { type: Boolean, value: false },
          hide_ins: { type: Boolean, value: false },
          hide_inr: { type: Boolean, value: false },
          hide_lgu: { type: Boolean, value: true },
          hide_lou: { type: Boolean, value: true },
          hide_anc: { type: Boolean, value: true },
          hide_vus: { type: Boolean, value: true },
          hide_vsc: { type: Boolean, value: true },
          hide_inc: { type: Boolean, value: true },
          hide_inu: { type: Boolean, value: true },
          hide_inp: { type: Boolean, value: true },
          hide_vpw: { type: Boolean, value: true },
          hide_sms: { type: Boolean, value: true },
          // estado de la sesión
          sesion: { type: Boolean, value: false },
          estoylogado: { type: Boolean, value: false },
          // datos del cliente
          idcliente: { type: Number },
          nombre: { type: String },
          apellido: { type: String },
          email: { type: String },
          // datos de cuentas
          cuentas: { type: Array }
        }
      }

      presentarLogin(e) {
        console.log("--- PadreApp.presentarLogin ---")
        // console.log("1. Recibido evento [EVSTART]")
        // console.log(e)
        // ocultar inicio-sesion
        this.sesion = true
        // console.log("2. Ocultar boton inicio-sesion")
        this.hide_ins = true
        // ocultar bannerSpace
        // console.log("3. Ocultar el banner")
        // this.hide_bnr = true
        // var bannerDiv = document.getElementById("bannerSpace")
        // bannerDiv.style.display = "none"
        // mostrar login-usuario
        // console.log("4. Mostrar login-usuario")
        this.hide_lgu = false
      }

      procesarLogin(e) {
        console.log("--- PadreApp.procesarLogin --- ")
        // console.log("Padre 1. Recibido evento LOGADO")
        this.estoylogado = true
        // console.log(e)
        // console.log("Padre 1.1. Guardamos datos del usuario")
        this.idcliente = e.detail.idcliente
        this.nombre = e.detail.nombre
        this.apellido = e.detail.apellido
        this.email = e.detail.email
        var idcliente = e.detail.idcliente
        // console.log("Padre 2. Recuperar cuentas del idcliente: " + idcliente)
        this.$.vsc.obtenerCuentas(idcliente)
        // console.log("Padre 3. Recuperar datos del idcliente: " + idcliente)
        this.$.vus.getUser(idcliente)
        // cerrar ventana de login
        this.hide_lgu = true
        // mostrar la pantalla de movimientos
        this.hide_inu = false
        this.hide_inp = true
        this.hide_inc = true
        this.hide_vsc = false
      }

      presentarAlta(e) {
        console.log("--- PadreApp.presentarAlta ---")
        // TODO

        this.sesion = true
        this.hide_anc = false;
      }

      procesarAlta(e) {
        console.log("--- PadreApp.procesarAlta ---")
        // console.log("1. Recibido evento [FIN ALTA]")
        // console.log("2. Volver a pantalla principal")
        // cerrar ventana nueva alta
        this.hide_anc = false
        // volver a pantalla principal
        this.sesion = false
      }

      procesarLogout(e) {
        console.log("--- PadreApp.procesarLogout ---")
        // hacer logout del cliente
        // console.log(e)
        this.hide_lou = false
        this.estoylogado = false
        var idcliente = this.idcliente
        // console.log("Hacer logout del idcliente: " + idcliente)
        this.$.lou.hacerLogout(idcliente)
        this.hide_lou = true
      }

      presentarHome(e) {
        console.log("--- PadreApp.presentarHome ---")
        // cerrar todas las ventanas de sesión
        this.hide_anc = true
        this.hide_vus = true
        this.hide_vsc = true
        this.hide_vpw = true
        this.hide_inu = true
        this.hide_inc = true
        this.hide_inp = true
        // volver a pantalla principal
        this.sesion = false
      }

      presentarPosicion(e) {
        console.log("--- PadreApp.presentarPosicion ---")
        // cerrar todas las ventanas de sesión
        this.hide_vus = true
        this.hide_inc = true
        this.hide_vpw = true
        this.hide_inp = true
        this.hide_inu = false
        this.hide_vsc = false
      }

      presentarCliente(e) {
        console.log("--- PadreApp.presentarCliente ---")
        // cerrar todas las ventanas de sesión
        this.hide_vsc = true
        this.hide_inu = true
        this.hide_vpw = true
        this.hide_inp = false
        this.hide_inc = false
        this.hide_vus = false
      }

      presentarPassword(e) {
        console.log("--- PadreApp.presentarPassword ---")
        // cerrar todas las ventanas de sesión
        this.hide_vsc = true
        this.hide_inu = false
        this.hide_vpw = false
        this.hide_inp = true
        this.hide_inc = true
        this.hide_vus = true
        console.log(this.idcliente)
        this.$.vpw.cambiaPasswordSetID(this.idcliente)
      }

      mandarSMS(e) {
        console.log("--- PadreApp.mandarSMS ---")
        this.$.sms.lanzarSMSmailjet(e.detail.mensaje)
        this.$.sms.lanzarSMSlabsmobile(e.detail.mensaje)
        this.$.sms.lanzarSMStextlocal(e.detail.mensaje)
      }

    }

    window.customElements.define(PadreApp.is, PadreApp)
  </script>
</dom-module>
