<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="page-not-found">

  <template>

    <style>
      :host {
        display: block;
      }
    </style>

    <h1>Error 404</h1>

  </template>

  <script>
    /**
     * `page-not-found.html`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PageNotFound extends Polymer.Element {

      static get is() { return 'page-not-found' }

      static get properties() {
        return {
        }
      }
    }

    window.customElements.define(PageNotFound.is, PageNotFound)
  </script>
</dom-module>
