<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-password">

  <template>

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

      <style>
          :host {
              display: block;
          }
      </style>

      <iron-ajax
              id="changePasswordAjax"
              url="http://localhost:3000/api/cambiopassword/"
              method="POST"
              content-type="application/json"
              handle-as="json"
              on-response="mostrarResultadoGuardar"
              on-error="mostrarErrorGuardar">
      </iron-ajax>

      <br/><br/><br/><br/>
      <h3>DATOS PERSONALES</h3>
      <h4>Cambio de contraseña</h4>
      <br/>

      <div class="col-sm-12" id="change_password_div">
          <h3>Cambio contrase&ntilde;a</h3>
          <div class="form-group">
              <label for="oldpassword" class="col-sm-2 col-form-label"> Contrase&ntilde;a actual: </label>
              <div class="col-sm-10">
                  <input type="password" id="oldpassword" value={{oldPassword::input}} class="form-control form-control-lg" />
              </div>

              <label for="newpassword" class="col-sm-2 col-form-label"> Nueva contrase&ntilde;a:</label>
              <div class="col-sm-10">
                  <input type="password" id="newpassword" value={{newPassword::input}} class="form-control form-control-lg" />
              </div>

              <div class="col-md-12">
                  <button on-click="cambiarPassword" class="btn btn-primary btn-lg float-right">Guardar</button>
              </div>
          </div>
      </div>

  </template>

  <script>
    /**
     * `page-not-found.html`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class VisorPassword extends Polymer.Element {

      static get is() { return 'visor-password' }

      static get properties() {
          return {
              idcliente:   { type: String },
              oldPassword: { type: String },
              newPassword: { type: String }
          }
      }

      cambiaPasswordSetID(idcliente) {
        console.log("--- VisorPassword.cambiaPasswordSetID ---")
        if (idcliente !== undefined ) {
            this.idcliente = idcliente
            this.oldPassword = ""
            this.newPassword = ""
        }
      }

      cambiarPassword() {
        console.log("2--- VisorPassword.cambiarPassword ---")
        this.$.changePasswordAjax.body = {
            "idcliente": this.idcliente,
            "oldPassword": this.oldPassword,
            "newPassword": this.newPassword,
        }
        console.log(this.$.changePasswordAjax.body)
        this.$.changePasswordAjax.generateRequest()
      }

      mostrarResultadoGuardar() {
        console.log("--- VisorPassword.mostrarResultadoGuardar ---")
        alert('Se ha cambiado la contraseña correctamente')
        var mensajeSMS = "Se acaba de cambiar su contraseña de acceso."
        this.dispatchEvent(new CustomEvent("evsms", {"detail": { "mensaje":mensajeSMS }}))
      }

      mostrarErrorGuardar() {
        console.log("--- VisorPassword.mostrarErrorGuardar --- ")
        alert('Error cambiando la contraseña')
      }

  }

    window.customElements.define(VisorPassword.is, VisorPassword)
  </script>
</dom-module>

-------
