<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-movimientos">

  <template>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax id="solicitarMovimientos"
      url="http://localhost:3000/api/movimientos/{{iban}}"
      method="GET"
      handle-as="json"
      on-response="mostrarMovimientos"
      on-error="mostrarErrorMovimientos"
    >
    </iron-ajax>

    <br/><br/>
    <h4>CUENTA {{iban}}</h4>
    <h5>Extracto de movimientos</h5>
    <br/>

    <table class="table table-striped">
      <thead><th>Fecha</th><th>Operación</th><th>Importe</th><th>Saldo</th></thead>
      <tbody>
        <template is="dom-repeat" items="{{movimientos}}">
          <tr>
            <td>{{item.fecha}}</td>
            <td>{{item.tipo}}</td>
            <td>{{item.importe}}</td>
            <td>{{item.saldo}}</td>
          </tr>
        </template>
      </tbody>
    </table>

  </template>

  <script>
    /**
     * `visor-movimientos.html`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class VisorMovimientos extends Polymer.Element {

      static get is() { return 'visor-movimientos' }

      static get properties() {
        return {
          iban: {
            type: String
          },
          movimientos: {
            type: Array
          }
        }
      }

      obtenerMovimientos(iban) {
        console.log("--- VisorMovimientos.obtenerMovimientos ---")
        // console.log("vMovs 1. Obtener movimientos de la cuenta: " + iban)
        this.iban = iban
        // console.log("vMovs 2. Enviar peticion /api/movimientos/iban")
        this.$.solicitarMovimientos.headers.iban = iban
        this.$.solicitarMovimientos.generateRequest()
        // console.log("vMovs 3. Petición enviada")
      }

      mostrarErrorMovimientos(error) {
        console.log("--- VisorMovimientos.mostrarErrorMovimientos ---")
        // console.log("vMovs 4. Llega error")
        console.log(error.detail.response)
      }

      mostrarMovimientos(resultado) {
        console.log("--- VisorMovimientos.mostrarMovimientos ---")
        // console.log("vMovs 4. Llega respuesta")
        // console.log("La respuesta en crudo que ha llegado es " + resultado.detail.response)
        // console.log("Los movimientos son " + resultado.detail.response[0].movimientos)
        this.movimientos = resultado.detail.response
        // console.log("El saldo del primer movimiento es " + this.movimientos[0].saldo)
        // console.log("vMovs 5. Mostrar movimientos en tabla")
      }

    }

    window.customElements.define(VisorMovimientos.is, VisorMovimientos)
  </script>
</dom-module>
