<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<link rel="import" href="/src/visor-movimientos.html">
<link rel="import" href="/src/anotar-movimiento.html">

<dom-module id="visor-cuentas">

  <template>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax id="solicitarCuentas"
      url="http://localhost:3000/api/cuentasysaldos/{{idcliente}}"
      method="GET"
      handle-as="json"
      on-response="mostrarPosicion"
      on-error="mostrarErrorPosicion"
    >
    </iron-ajax>

    <br/><br/><br/><br/>
    <h3>POSICIÓN GLOBAL</h3>
    <br/>

    <table class="table table-striped">
      <thead><th>IBAN</th><th>Saldo</th><th></th><th></th></thead>
      <tbody>
        <template is="dom-repeat" items="{{cuentas}}">
          <tr>
            <td>{{item.iban}}</td>
            <td>{{item.saldo}}</td>
            <!-- <td><a class="btn btn-info" href="/movimientos/[[item.iban]]">Ver movimientos</a></td> -->
            <td><a on-click="mostrarMovimientos" class="btn btn-info" id="[[item.iban]]">movimientos</a></td>
            <td><a on-click="anotarNuevoMovimiento" class="btn btn-info" id="[[item.iban]]">operar</a></td>
          </tr>
        </template>
      </tbody>
    </table>

    <visor-movimientos id="vmo" hidden$="{{hide_vmo}}"></visor-movimientos>
    <anotar-movimiento id="amo" hidden$="{{hide_amo}}" on-evok="refrescarCuentas" on-evcancel="cerrarHijos" on-evsms="mandarSMS"></anotar-movimiento>

  </template>

  <script>
    /**
     * `visor-cuentas.html`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class VisorCuentas extends Polymer.Element {

      static get is() { return 'visor-cuentas' }

      static get properties() {
        return {
          idcliente: { type: Number },
          cuentas: { type: Array },
          hide_vmo: { type: Boolean, value: true },
          hide_amo: { type: Boolean, value: true }
        }
      }

      obtenerCuentas(idcliente) {
        console.log("--- VisorCuentas.obtenerCuentas ---")
        this.hide_vmo = true
        this.hide_amo = true
        //console.log("vCuentas 1. Obtener cuentas del idcliente: " + idcliente)
        this.idcliente = idcliente
        //console.log("vCuentas 2. Enviar peticion /api/cuentas/idcliente")
        this.$.solicitarCuentas.headers.idcliente = idcliente
        this.$.solicitarCuentas.generateRequest()
        //console.log("vCuentas 3. Petición enviada")
      }

      refrescarCuentas(e) {
        console.log("--- VisorCuentas.refrescarCuentas ---")
        this.hide_vmo = true
        this.hide_amo = true
        //console.log("vCuentas 1. Obtener cuentas del idcliente: " + idcliente)
        //this.idcliente = idcliente
        //console.log("vCuentas 2. Enviar peticion /api/cuentas/idcliente")
        this.$.solicitarCuentas.headers.idcliente = this.idcliente
        this.$.solicitarCuentas.generateRequest()
        //console.log("vCuentas 3. Petición enviada")
        var iban = e.detail.iban
        this.hide_vmo = false
        this.$.vmo.obtenerMovimientos(iban)
      }

      mostrarErrorPosicion(error) {
        console.log("--- VisorCuentas.mostrarErrorPosicion ---")
        //console.log("vCuentas 4. Llega error")
        //console.log(error.detail.response)
        alert()
      }

      cerrarHijos(e) {
        console.log("--- VisorCuentas.cerrarHijos ---")
        this.hide_vmo = true
        this.hide_amo = true
      }

      mostrarPosicion(resultado) {
        console.log("--- VisorCuentas.mostrarPosicion ---")
        //console.log("vCuentas 4. Llega respuesta")
        //console.log(resultado.detail.response)
        this.cuentas = resultado.detail.response
        //console.log("vCuentas 5. Mostrar Posición Global")
      }

      mostrarMovimientos(e) {
        console.log("--- VisorCuentas.mostrarMovimientos ---")
        //console.log("El usuario ha pulsado en ver movimientos.")
        var iban = e.target.getAttribute('id')
        //console.log("El argumento pasado es " + iban)
        this.hide_amo = true
        this.hide_vmo = false
        this.$.vmo.obtenerMovimientos(iban)
      }

      anotarNuevoMovimiento(e) {
        console.log("--- VisorCuentas.anotarNuevoMovimiento ---")
        //console.log("El usuario ha pulsado en [Operar].")
        var iban = e.target.getAttribute('id')
        //console.log("El argumento pasado es " + iban)
        this.$.amo.anotarIbanOrigen(iban)
        this.hide_vmo = true
        this.hide_amo = false
      }

      mandarSMS (e) {
        console.log("--- VisorCuentas.mandarSMS ---")
        var mensajeSMS = e.detail.mensaje
        this.dispatchEvent(new CustomEvent("evsms", {"detail": { "mensaje":mensajeSMS }}))
      }

    }

    window.customElements.define(VisorCuentas.is, VisorCuentas)
  </script>
</dom-module>
