<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-usuario">

    <template>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <style>
            :host {
                display: block;
            }
        </style>

        <iron-ajax
                auto=""
                id="obtenerUsuarioAjax"
                url="http://localhost:3000/api/cliente/{{idcliente}}"
                handle-as="json"
                on-response="mostrarDatos">
        </iron-ajax>

        <iron-ajax id="guardarUsuarioAjax"
                   url="http://localhost:3000/api/modificarDatos"
                   method="POST"
                   content-type="application/json"
                   handle-as="json"
                   on-response="mostrarResultadoGuardar"
                   on-error="mostrarErrorGuardar">
        </iron-ajax>

        <br/><br/><br/><br/>
        <h3>DATOS PERSONALES</h3>
        <br/>

        <div class="col-sm-12" id="datos_usuario_div">

            <div class="form-group">
                <label for="nombre">Nombre: </label>
                <div class="col-sm-10">
                    <input type="text" id="nombre" value={{nombre::input}}
                           class="form-control form-control-lg" disabled/>
                </div>

                <label for="apellido">Apellido: </label>
                <div class="col-sm-10">
                    <input type="text" id="apellido" value={{apellido::input}}
                           class="form-control form-control-lg" disabled/>
                </div>

                <label for="email">Email: </label>
                <div class="col-sm-10">
                    <input type="text" id="email" value={{email::input}}
                           class="form-control form-control-lg" disabled/>
                </div>

                <label for="password">Password: </label>
                <div class="col-sm-10">
                    <input type="password" id="password" value={{password::input}}
                           class="form-control form-control-lg" disabled/>
                </div>

                <label for="direccion">Dirección: </label>
                <div class="col-sm-10">
                    <input type="text" id="direccion" value={{direccion::input}}
                           class="form-control form-control-lg"/>
                </div>

                <label for="ciudad">Ciudad: </label>
                <a href="https://maps.googleapis.com/maps/api/staticmap?center={{ciudad}}
                  &size=640x400
                  &style=element:labels|visibility:off
                  &style=element:geometry.stroke|visibility:off
                  &style=feature:landscape|element:geometry|saturation:-100
                  &style=feature:water|saturation:-100|invert_lightness:true
                  &key=AIzaSyAuRTmeoLfkagPtvocuDB6Q0UHNkZBBtDw"
                  target="_blank"
                  title="Geolocalizacion">
                  Geolocalízar
                </a>
                <div class="col-sm-10">
                    <input type="text" id="ciudad" value={{ciudad::input}}
                           class="form-control form-control-lg"/>
                </div>

                <label for="pais">Pa&iacute;s: </label>
                <div class="col-sm-10">
                    <input type="text" id="pais" value={{pais::input}}
                           class="form-control form-control-lg"/>
                </div>

            </div>

            <div class="col-md-12">
                <button on-click="guardarUsuario" class="btn btn-primary btn-lg float-right">Guardar</button>
            </div>

            <!-- <div id="geoCliente" class="row">
              <br/><br/><br/>
              <a href="https://maps.googleapis.com/maps/api/staticmap?center={{ciudad}}
                &size=640x400
                &style=element:labels|visibility:off
                &style=element:geometry.stroke|visibility:off
                &style=feature:landscape|element:geometry|saturation:-100
                &style=feature:water|saturation:-100|invert_lightness:true
                &key=AIzaSyAuRTmeoLfkagPtvocuDB6Q0UHNkZBBtDw"
                target="_blank"
                title="Geolocalizacion">
                Geolocalízar
              </a>
              <br/>
            </div> -->

        </div>

    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class VisorUsuario extends Polymer.Element {
            static get is() {
                return 'visor-usuario';
            }

            static get properties() {
                return {
                  idcliente: { type: Number },
                  nombre:    { type: String },
                  apellido:  { type: String },
                  email:     { type: String },
                  ciudad:    { type: String },
                  pais:      { type: String },
                  direccion: { type: String },
                  password:  { type: String }
                };
            }

            getUser(idcliente) {
                console.log("--- VisorUsuario.getUser ---")
                if (idcliente !== undefined ) {
                    //console.log("vUsuario 1. Obtener informacion del usuario: " + idcliente)
                    this.idcliente = idcliente
                    this.$.obtenerUsuarioAjax.headers.idcliente = idcliente
                    this.$.obtenerUsuarioAjax.generateRequest()
                }
            }

            guardarUsuario() {
                console.log("--- VisorUsuario.guardarUsuario ---")
                this.$.guardarUsuarioAjax.body = {
                    "nombre": this.nombre,
                    "apellido": this.apellido,
                    "email": this.email,
                    "ciudad": this.ciudad,
                    "pais": this.pais,
                    "direccion": this.direccion,
                    "password": this.password,
                    "idcliente": this.idcliente,
                }
                this.$.guardarUsuarioAjax.generateRequest()
            }

            mostrarResultadoGuardar() {
                console.log("--- VisorUsuario.mostrarResultadoGuardar ---")
                alert('Datos de usuario modificados')
            }

            mostrarErrorGuardar() {
                console.log("--- VisorUsuario.mostrarErrorGuardar ---")
                alert('Error guardando datos de usuario')
            }

            mostrarDatos(datos) {
                console.log("--- VisorUsuario.mostrarDatos ---")
                // console.log(datos.detail);
                // console.log(datos.detail.response);
                this.nombre = datos.detail.response.nombre
                this.apellido = datos.detail.response.apellido
                this.email = datos.detail.response.email
                this.id = datos.detail.response.idcliente
                this.ciudad = datos.detail.response.ciudad
                this.pais = datos.detail.response.pais
                this.password = datos.detail.response.password
                this.direccion = datos.detail.response.direccion
            }
        }

        window.customElements.define(VisorUsuario.is, VisorUsuario);

    </script>

</dom-module>
